<!doctype html>
<html>
  <head>
    <title><%= current_page.data.title || "Vibes Platform Styleguide" %></title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <div canvas="container">
      <nav id="top-nav">
        <button class="js-toggle-left-slidebar icon-only"><i class="icon-menu"></i></button>
        <a id="logo" href="/"><%= partial "images/svg/vibes_logo.svg" %></a>
      </nav>
      <div class="scroller">
        <%= yield %>
      </div>
    </div>

    <div off-canvas="slidebar-1 left reveal">
      <nav class="slats">
        <% for resource in sitemap.resources.sort_by {|resource| resource.data.id.to_i   } %>
          <% if resource.ext == '.html' && resource.path != 'index.html' && resource.path != 'foundations.html' && resource.path != 'patterns.html' %>
            <li class='slat <%= check_current_path(resource.path) %>'><%= link_to resource.data.title, "/#{resource.destination_path}" %></li>
          <% end %>
        <% end %>
      </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= javascript_include_tag :application %>
  </body>
</html>
