<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title><%= current_page.data.title || "Vibes Platform Styleguide" %></title>

    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <div canvas="container">
      <nav>
        <button class="js-toggle-left-slidebar">Toggle left Slidebar</button>
      </nav>

      <div class="scroller">
        <%= yield %>
      </div>

    </div>

    <div off-canvas="slidebar-1 left reveal">
      <nav>
        <% for resource in sitemap.resources %>
          <% if resource.ext == '.html' && resource.path != 'index.html' %>
            <li><%= link_to resource.data.title, "/#{resource.destination_path}" %></li>
          <% end %>
        <% end %>
      </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <%= javascript_include_tag :application %>
  </body>
</html>
